# Frontend
frontend/node_modules/
frontend/dist/
frontend/coverage/

# Backend
backend/__pycache__/
backend/.pytest_cache/
backend/venv/
backend/env/
backend/htmlcov/
backend/.cache/
backend/.cache/**
backend/.local/
backend/.local/**
backend/.ruff_cache/
backend/.ruff_cache/**
backend/tests/__pycache__/
**/__pycache__/
**/.cache/
**/.pytest_cache/

# Git
.git/
.github/

# IDE
.vscode/
.idea/

# Misc
*.log
*.md
.env
